<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/resources/assets/logo.svg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Materia</title>
        <script type="module" crossorigin src="/resources/assets/index.js"></script>
        <link rel="stylesheet" crossorigin href="/resources/assets/index.css">
    </head>
    <body class="h-full bg-zinc-900 text-zinc-200 font-sans">
        <div id="{{ view }}" class="flex flex-col h-full"></div>
    </body>
</html>
