@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: rgba(40, 30, 30, 1); /*linear-gradient(rgba(36, 14, 84, 1) 80%, rgba(55, 22, 130, 1)); */
        /*background-image: url("./background.svg");*/
        background-position: left top;
        background-repeat: repeat-x;
    }

    a {
        @apply text-green-500 hover:text-green-400;
    }

    h1 {
        font-family: BioRhyme,serif;
        font-weight: 700;
    }

    label {
        font-family: Space Mono,monospace;
        font-weight: 500;
    }
}

@layer utilities {
    .bg-grid {

        background: 
            linear-gradient(180deg, rgba(0, 0, 0, 0) 0px, rgba(187, 65, 143, 1) 10%, 
                rgba(187, 65, 143, 1) 2px, rgba(0, 0, 0, 0) 0px), 
            linear-gradient(90deg, rgba(0, 0, 0, 0) 0px, rgba(187, 65, 143, 1) 10%, 
                rgba(187, 65, 143, 1) 2px, rgba(0, 0, 0, 0) 0px);
        background-size: 2em 4em, 6em 2em;
        transform: perspective(500px) rotateX(60deg) scale(0.5);
        transform-origin: 50% 0%;
        z-index: -1;

        @apply absolute w-[250%] -left-[75%] h-[200%];
    }
}
